body, html {
         height: 100%;
		}
		body {
			background: #4881ea;
			color: #fff;
			font-family: 'Montserrat';
			margin: 0;
			display: grid;
			grid-template-rows: auto;
			justify-items: center;
			align-items: center; 
			text-align: center;
		}
		button {
			padding: 2%;
			margin: 1%;
			width: 95%;
			position: relative;
			font-size: 1em;
			border: 1px solid;
			color: #fff;
			background: #4881ea;
			cursor: pointer;
		}
		button:hover {
			color: #bbd0f7;
			width: 95%;
			transition: 0.2s;
		}

		h3 {
			font-size: 2em;
			color: #ccc;
			text-shadow: 1px 1px #FFF, 2px 2px rgba(0,0,0,0.1);
		}
